body {
    padding: 0;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

p {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mi-tooltips {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

a {
    background: #fff;
    color: #000;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #f6ca9d;
    }
}

.btn {
    width: 100px;
    height: 36px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: #fff;
    border: 1px solid fade(#000, 10%);
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;

    &:hover, &:active, &:focus, &:visited, &:link {
        background: #fff;
        border-color: #f6ca9d;
        color: #f6ca9d;
    }

    &:last-child {
        margin-right: 0;
    }
}

.top, .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
    margin-top: 8px;
    margin-bottom: 8px;

    .btn {
        margin-bottom: 8px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.mi-tooltips-mobile {
    .top,
    .middle,
    .bottom {
        width: 100%;
    }
}