@mi-prefix: mi-;
@mi-tooltip: ~'@{mi-prefix}tooltip';

.@{mi-tooltip} {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    > [class*="mi-tooltip-"] {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 14px;
        position: absolute;
        transition: all .1s ease;
        z-index: 1060;
    }

    &-content {
        margin: 0;
        padding: 0;
    }

    &-arrow {
        position: absolute;
        width: 12px;
        height: 12px;
        display: block;
        background: transparent;
        overflow: hidden;
        pointer-events: none;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            width: 11px;
            height: 11px;
            margin: auto;
            background-color: fade(#000, 75%);
            content: '';
            pointer-events: auto;
            transform: translateY(-9px) rotate(45deg);
        }
    }

    &-inner {
        min-width: 30px;
        padding: 6px 12px;
        font-size: 12px;
        text-align: left;
        letter-spacing: 2px;
        color: #fff;
        text-decoration: none;
        line-height: 22px;
        word-wrap: break-word;
        background: fade(#000, 75%);
        border-radius: 4px;
    }

    &-top &-arrow,
    &-top-left &-arrow,
    &-topLeft &-arrow,
    &-topRight &-arrow,
    &-top-right &-arrow {
        transform: translateX(-50%);
        bottom: -12px;
    }

    &-top &-arrow {
        left: 50%;
    }

    &-top-left &-arrow,
    &-topLeft &-arrow {
        left: 16px;
    }

    &-top-right &-arrow,
    &-topRight &-arrow {
        right: 8px;
    }

    &-left &-arrow,
    &-leftTop &-arrow,
    &-left-top &-arrow,
    &-leftBottom &-arrow,
    &-left-bottom &-arrow {
        right: -18px;
        transform: translateX(-50%);

        &:before {
            transform: translateX(-9px) rotate(45deg);
        }
    }

    &-left &-arrow {
        transform: translateY(-50%);
        top: 50%;
        right: -12px;
    }

    &-left-top &-arrow,
    &-leftTop &-arrow {
        top: 8px;
    }

    &-left-bottom &-arrow,
    &-leftBottom &-arrow {
        bottom: 8px;
    }

    &-bottom &-arrow,
    &-bottomLeft &-arrow,
    &-bottom-left &-arrow,
    &-bottomRight &-arrow,
    &-bottom-right &-arrow {
        transform: translateX(-50%);
        top: -12px;

        &:before {
            transform: translateY(9px) rotate(45deg);
        }
    }

    &-bottom &-arrow {
        left: 50%;
    }

    &-bottomLeft &-arrow,
    &-bottom-left &-arrow {
        left: 16px;
    }

    &-bottomRight &-arrow,
    &-bottom-right &-arrow {
        right: 16px;
    }

    &-right &-arrow,
    &-rightTop &-arrow,
    &-right-top &-arrow,
    &-rightBottom &-arrow,
    &-right-bottom &-arrow {
        left: -12px;
        transform: translateY(-50%);

        &:before {
            transform: translateX(9px) rotate(45deg);
        }
    }

    &-right &-arrow {
        top: 50%;
    }

    &-rightTop &-arrow,
    &-right-top &-arrow {
        top: 12px;
    }

    &-rightBottom &-arrow,
    &-right-bottom &-arrow {
        bottom: 16px;
    }
}

.@{mi-prefix} {
    /** Scale */
    &scale-enter-active,
    &scale-leave-active {
        opacity: 1;
        transform: scale(1);
    }

    &scale-enter-from,
    &scale-leave-to {
        transform: scale(0);
        opacity: 0
    }
}